body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    text-align: center;
}

.dashboard {
    background-color: rgba(103, 103, 103, 0.295);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    gap: 25px;
    margin-top: 20px;
    margin-left: 35px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

.bottom-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 45%;  
    min-height: 100px;
}

.circle-container {
    position: absolute;
}

.circle-bg {
    fill: none;
    stroke: #ddd;
    stroke-width: 10;
}

.temp-circle-progress {
    fill: none;
    stroke: #ff44009d;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 251.2;
    stroke-dashoffset: 251.2; 
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.light-circle-progress {
    fill: none;
    stroke: #f6ff009d;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 251.2;
    stroke-dashoffset: 251.2; 
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}

.circle-chart {
    transform: rotate(90deg);
}

#light {
    margin-left: 5px;
}

#dist-motion {
    width: 95%;
}

#temperature {
    font-size: 16px;
    font-weight: bold;
}

#humidity {
    font-size: 12px;
    color: #555;
}

h1 {
    color: rgb(143, 0, 0);
}

h3 {
    color: #333;
}
